{% extends "base.html" %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <section class="row">
        <div class="container h-100 col-sm-4 p-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                        {% if profile.img %}
                            <img src={{ profile.img.url }} class="rounded-circle img-fluid mt-3" style="width: 100px; height=100px;" />
                        {% else %}
                            <img src="https://img.freepik.com/free-icon/user_318-644324.jpg?t=st=1692709690~exp=1692710290~hmac=9205ae2adadedae9ec74c603df1a17df1e9e6d3e4f0f75fa746614e963012cf6"
                                 class="rounded-circle img-fluid mt-3"
                                 style="width: 100px;
                                        height=100px" />
                        {% endif %}
                    </div>
                    <h4 class="mb-2">{{ profile.user.username | title }}</h4>
                    <p class="text-muted mb-4">{{ profile.user.email }}</p>
                    {% if request.user == profile.user %}
                        <a href={% url "edit-profile" %}>
                            <button type="button" class="btn btn-primary btn-rounded btn-lg">
                                Editar Perfil <i class="fa-solid fa-edit"></i>
                            </button>
                        </a>
                    {% endif %}
                    <div class="d-flex justify-content-between text-center mt-5 mb-2">
                        <div>
                            <p class="mb-2 h5">{{ films.paginator.count | default:"0" }}</p>
                            <p class="text-muted mb-0">Filmes Criados</p>
                        </div>
                        <div class="px-3">
                            <p class="mb-2 h5">{{ profile.user.ratings.all|length }}</p>
                            <a href={% url "rated-films" %}>
                                <p class="text-muted mb-0">Filmes Avaliados</p>
                            </a>
                        </div>
                        <div>
                            <p class="mb-2 h5">{{ profile.favorites.all|length }}</p>
                            <a href={% url "favorites" %}>
                                <p class="text-muted mb-0">Filmes Favoritados</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Filmes Criados:</h3>
            <section class="container mt-4 d-flex flex-wrap justify-content-around">
                {% for film in created_films %}
                    <div class="card bg-dark text-white mb-3" style="width: 18rem;">
                        {% if film.img %}
                            <img src={{ film.img.url }} class="rounded-circle img-fluid mx-auto mt-3" style="width: 100px; height: 100px;" />
                        {% else %}
                            <img src="https://img.freepik.com/free-icon/weight_318-857258.jpg?t=st=1692709343~exp=1692709943~hmac=aee839f93c479255d6e991f20fbc4a96d7270125ce0541f8deb093719d7ed6ab"
                                 class="rounded-circle img-fluid mx-auto mt-3"
                                 style="width: 100px;
                                        height: 100px" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ film.name | title | slice:30 }}</h5>
                            <p class="card-subtitle text-white-50 mb-3">{{ film.category.first.name }}</p>
                            <p class="card-text mb-3">{{ film.description | slice:30 }}...</p>
                            <p class="card-text mb-1">
                                {{ film.stars }}<i class="fa-sharp fa-solid fa-star"></i>
                            </p>
                            {% if film in request.user.profile.favorites.all %}
                                <form action={% url "remove-favorite" film.id %} method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ request.path }}" name="path">
                                    <input type="hidden" value="{{ request.GET.search }}" name="search">
                                    <input type="hidden" value="{{ request.GET.page }}" name="page">
                                    <button type="submit" class="btn btn-danger">
                                        Desfavoritar <i class="fa-sharp fa-solid fa-heart"></i>
                                    </button>
                                    <a href={% url "add-rating" film.id %}>
                                        <button type="button" class="btn btn-success">Avaliar</button>
                                    </a>
                                </form>
                            {% else %}
                                <form action={% url "add-favorite" film.id %} method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ request.path }}" name="path">
                                    <input type="hidden" value="{{ request.GET.search }}" name="search">
                                    <input type="hidden" value="{{ request.GET.page }}" name="page">
                                    <button type="submit" class="btn btn-danger">
                                        Favoritar <i class="fa-sharp fa-solid fa-heart"></i>
                                    </button>
                                    <a href={% url "add-rating" film.id %}>
                                        <button type="button" class="btn btn-success">Avaliar</button>
                                    </a>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
        {% if films.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if films.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ films.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Ínicio</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="">Página {{ films.number }} de {{ films.paginator.num_pages }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ films.paginator.num_pages }}">Final</a>
                    </li>
                    {% if films.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ films.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </section>
{% endblock %}
